body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 80%;
    overflow: hidden;
    margin: 100px;
    padding: 40px;
    background-color: aliceblue;
    

}
.email {
    font-size: 15px;
    margin-left: calc(100% - 240px);
}
.name {
    text-align: center;

}